@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Bebas+Neue&display=swap');

/* CANVAS */
.canvas02 {
  width: 1920px;
  height: 950px;
  margin: 0 auto;
    padding: 158px 50px 60px 50px;

  background: #ffffff;
  color: #000000;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  line-height: 1.2;
}

.nav02 {
  display: flex;
  align-items: center;
  gap: 28px;
  border: 2px solid #000000;
  padding: 14px 32px;
  border-radius: 40px;
}

.nav02 a {
  color: #000000;
  text-decoration: none;
  font-size: 27px;
}

.menu {
  font-size: 20px;
}

/* HERO */
.hero02 {
  display: grid;
  grid-template-columns: 39% 61%;
  /* margin-top: 38px; */
  height: calc(100% - 120px);
  padding: 0 87px 90px 87px;
}

/* LEFT */
.hero-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-text02 {
  position: absolute;
  top: 0;
  font-size: 97px;
  line-height: 0.8;
  letter-spacing: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  right: 0;
}

.mockup-area {
  position: relative;
  padding-top: 70px;
}

.period02 {
  display: flex;
  font-size: 30px;
  justify-content: flex-start;
}

.mockup {
  width: 100%;
  height: 508px;
  box-shadow:
    5px 5px 5px rgba(0, 0, 0, 0.25),
    -5px -5px 5px rgba(0, 0, 0, 0.25);
}

.travio {
    background-image: url(../images/Rectangle3.png);
  background-position: center;
   background-repeat: no-repeat;
  background-size: cover;
}

.eventpage {
    background-image: url(../images/eventpage.jpg);
  background-position: center;
   background-repeat: no-repeat;
  background-size: cover;
}

.postcard {
    background-image: url(../images/postcard.jpg);
  background-position: center;
   background-repeat: no-repeat;
  background-size: cover;
  filter: 
    saturate(1.4);
}

.dots {
  width: 160px;
  height: 80px;
  margin-top: 24px;
  background-image: radial-gradient(#fff 2px, transparent 2px);
  background-size: 10px 10px;
}

.label02 {
  position: absolute;
  width: 106px;
  bottom: -40px;
  left: 85px;
  background: #7E3AE6;
  color: #ffffff;
  padding: 6px 14px;
  font-size: 23.56px;
  text-align: center;
}

/* RIGHT */
.hero-right02 {
  position: relative;
  display: flex;
  flex-direction: column;
  /* padding-left: 80px; */
  padding-right: 80px;
  margin-top: 110px;
  justify-content: space-between;
}

.order {
  font-size: 33px;
}

.title02 {
  font-size: 85px;
  line-height: 1;
  color: #7E3AE6;
  font-weight: 400;
}

.themovie {
  font-family: "asta sans";
  font-weight: 600;
}

.sub {
  font-size: 20px;
  opacity: .6;
  margin: -5px 0 20px;
}

.tools {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.tools span {
  background: #111;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
}

.desc {
  font-size: 20px;
    font-family: "asta sans";
    font-weight: 500;
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.btn {
  padding: 14px 28px;
  font-weight: bold;
  text-decoration: none;
  width: 233px;
  height: 58px;
}

.btn.black {
  font-size: 32px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.landing {
  font-family: "asta sans";
  font-weight: 600;
}

.notion {
  font-size: 32px;
}

.btn.pupple {
  font-size: 23.56px;
  background: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.btn.pupple:hover {
    background: #7E3AE6;
  color: #ffffff;
}
.btn.black:hover {
    background: #7E3AE6;
  color: #ffffff;
}

/* PAGER */
.pager02 {
  position: absolute;
  right: -70px;
  top: 68%;
  transform: translateY(-50%);
  list-style: none;
  text-align: right;
  font-size: 23.56px;
}

.pager02 li {
  margin-bottom: 8px;
}

.pager02 .active {
  color: #7E3AE6;
}

.logo {
  display: flex;
}

.logofirst {
  font-size: 90px;
}

.logosecond {
  font-size: 45px;
}


/* 반응형 */
@media (max-width: 1440px) {
  .canvas02 {
    padding: 50px 100px;
  }
}

@media (max-width: 1024px) {
  .canvas02 {
    height: auto;
    padding: 40px 60px;
  }

  .main {
    grid-template-columns: 1fr;
  }

  .pager02 {
    margin-left: 0;
  }
}


.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }